.typecard-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: auto; */
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 4vmin;
    column-gap: 2vmin;
    row-gap: 2vmin;
    
}

.typecard {

    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#f44336;
    color: white;
    border: 1px solid black;
    text-decoration: none;
}


.typecard:hover {
    cursor:pointer;
    background-color: white;
    color: black;
    box-shadow: 5px 10px rgb(0 0 0 / 70%);
    transform: translate3d(0px, -4vh, 0px);
}

.typecard-img {
    height: 30vmin;
    width: 30vmin;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 5px;
}

.typecard-text {

    font-weight: 800;
    font-size: 4vmin;
    text-align: center;
    word-wrap: normal;
}

.machine-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.machine-card-imgs-container{
   display: flex;
   flex-direction: row;
   column-gap: 7vW;

   /* height: 67vh;
   width :85vw; */
   align-items: center;
   justify-content: center;
}

.machine-card-imgs-secondary-container{
    display: flex;
    flex-direction: column;
    row-gap: 7vmin;
}

.machine-card-img-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 55vmax;
    width: 55vmax;
}
